.search
    margin: 0 auto
    display: flex
    max-width: 500px

.search__input
    background-color: transparent
    padding: 10px 20px
    width: 300px
    border: 2px solid #fff
    border-radius-top-left: 5px
    border-radius-bottom-left: 5px
    font-size: 24px
    color: #fff
    box-sizing: border-box
    

.search__btn
    border-top-left-radius: 0
    border-bottom-left-radius: 0 